:root { /*defining variables in css*/
    --dark-Violet: hsl(256, 26%, 20%); /*colors on the website*/
    --grayish-Blue: hsl(216, 30%, 68%);
    --very-Dark-Violet: hsl(270, 9%, 17%);
    --dark-Grayish-Violet: hsl(273, 4%, 51%);
    --very-Light-Gray: hsl(0, 0%, 98%);
}



body{
    margin: 0; /*first remove the margin*/
}

header{
    background-color: white; /*create variables with colors on the website*/
    display:flex;
    align-items:center;
    justify-content: space-between;
}

nav li {
    color: var(--dark-Grayish-Violet);
    display:inline-block;
    margin: 20px 100px 20px 40px;    
}

main{
    display:flex; 
    background-size: cover;
    background-color: var(--dark-Violet);
}

section{
    margin: 150px 900px 70px 150px;
}

section h1{
    font-size: 80px;
}

section p{
    font-size: 21px;
}

aside{
    position:absolute;
    top:310px;
    right: 230px;
    width: 600px;
}

footer p{
    display: inline-block;
    display: flex;
    justify-content: center; /* Alinha itens horizontalmente no centro */
    align-items: center; /* Alinha itens verticalmente no centro */
    height: 100px; /* Defina a altura conforme necessário */
}

button{
background-color: transparent;
border: 2px solid #000; /* Cor da borda e largura desejada */
color: #000; /* Cor do texto do botão */
padding: 10px 20px; /* Espaçamento interno do botão */
text-align: center; /* Alinhamento do texto */
text-decoration: none; /* Remover sublinhado padrão */
display: inline-block; /* Para que o botão se comporte como um bloco */
font-size: 16px; /* Tamanho do texto */
cursor: pointer; /* Alterar o cursor ao passar por cima */
border-radius: 5px; /* Opcional: bordas arredondadas */
}

button:hover {
    background-color: blue; /* Cor de fundo ao passar o mouse */
    color: #ffffff; /* Cor do texto ao passar o mouse */
  } 

.title{
    color: var(--very-Dark-Violet);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 200px;
}


.border{
    border: 0.5px solid black;
}

.block01{
    display: flex;
    background-color: var(--dark-Violet);
}

.half-line {
    border-top: 1px solid var(--very-Light-Gray); 
    width: 30%;
}

.line{
    display: flex;
    margin: 150px 100px 70px 150px;
}

.item {
    flex: 1;
    margin-right: 20px;
}

.container {
    height: 50vh; /* Altura total da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #f0f0f0; /* Cor de fundo da caixa */
    padding: 20px;
    border-radius: 10px; /* Borda arredondada */
    width: 1000px; /* Largura da caixa */
    height: 200px; /* Altura da caixa */
}

