body{
    margin: 0;
    padding: 0;
    background-position: center; 
    background-repeat: no-repeat;
}

header{
    background-color: grey;
    display: flex; 
    align-items:center;
    justify-content: space-between;
}

nav li {
    display:inline-block;
    margin: 20px 100px 20px 40px;    
}

main{
    display:contents; 
    background-size: cover;
    background-color: blue;
}

section{
    margin: 150px 900px 70px 150px;
}

section h1{
    font-size: 80px;
}

section p{
    font-size: 21px;
}

aside{
    position:absolute;
    top:310px;
    right: 230px;
    width: 600px;
}

footer p{
    display: inline-block;
    align-items: center;
}

.title{
    color: black;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 200px;
}


.border{
    border: 0.5px solid black;
}

.half-line {
    border-top: 1px solid black; 
    width: 30%;
}

.line{
    display: flex;
    margin: 150px 100px 70px 150px;
}

.item {
    flex: 1;
    margin-right: 20px;
}

.container {
    height: 50vh; /* Altura total da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #f0f0f0; /* Cor de fundo da caixa */
    padding: 20px;
    border-radius: 10px; /* Borda arredondada */
    width: 1000px; /* Largura da caixa */
    height: 200px; /* Altura da caixa */
}

