:root { /*defining variables in css*/
    --dark-Violet: hsl(256, 26%, 20%); /*colors on the website*/
    --grayish-Blue: hsl(216, 30%, 68%);
    --very-Dark-Violet: hsl(270, 9%, 17%);
    --dark-Grayish-Violet: hsl(273, 4%, 51%);
    --very-Light-Gray: hsl(0, 0%, 98%);
}

body{
    margin: 0; /*first remove the margin*/
}

header{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

nav a{
    list-style: none;
    text-decoration: none;

}

nav li {
    text-decoration: none;
    color: var(--dark-Grayish-Violet);
    display:inline-block;
    margin: 20px 100px 20px 40px;    
}

main{
    display:flex;
    flex-direction: column; 

}

section{
    margin: 150px 900px 70px 150px;
}

section h1{
    color: var(--very-Light-Gray);
    font-size: 80px;
}

section p{
    color: var(--very-Light-Gray);
    font-size: 21px;
}

aside{
    position:absolute;
    top:310px;
    right: 230px;
    width: auto;
}

footer {
    background-color: var(--very-Light-Gray);
    display: flex;
    justify-content: center; /* Alinha itens horizontalmente no centro */
    align-items: center; /* Alinha itens verticalmente no centro */
    height: 100px; /* Defina a altura conforme necessário */
}

button{
background-color: transparent;
border: 2px solid var(--very-Light-Gray); /* Cor da borda e largura desejada */
color: var(--very-Light-Gray); /* Cor do texto do botão */
padding: 10px 20px; /* Espaçamento interno do botão */
text-align: center; /* Alinhamento do texto */
font-size: 16px; /* Tamanho do texto */
cursor: pointer; /* Alterar o cursor ao passar por cima */
border-radius: 5px; /* Opcional: bordas arredondadas */
}

button:hover {
    background-color: var(--grayish-Blue); /* Cor de fundo ao passar o mouse */
    color: var(--very-Light-Gray); /* Cor do texto ao passar o mouse */
  } 

.title{
    color: var(--very-Dark-Violet);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 200px;
}

.block01{
    background-color: var(--dark-Violet);
}

.half-line {
    border-top: 1px solid var(--very-Light-Gray); 
    width: 30%;
}

.half-line02{
    border-top: 1px solid var(--dark-Grayish-Violet); 
    width: 30%;

}
.title02{
    color: var(--dark-Violet);
}

.line{
    display: flex;
    align-items: center;
    margin: 0px 100px 70px 150px;
}

.item {
    color:var(--dark-Grayish-Violet);
    flex: 10px;
    align-items: center;
    margin-right: 80px;
}

.item h3{
    font-size: 30px;
    color:var(--dark-Violet);
}
.container {

    height: 50vh; /* Altura total da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    align-items: center;
    background-color: var(--dark-Violet); /* Cor de fundo da caixa */
    padding: 20px;
    width: 1000px; /* Largura da caixa */
    height: 200px; /* Altura da caixa */
}

.box h2{
    font-size: 50px;
    color: var(--very-Light-Gray);

}

.footer p{
    color: var(--dark-Violet);
}